.room {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.npc {
  width: 800px;
  height: auto;
}

.selected-character {
  width: 400px;
  height: auto;
  margin-top: 350px;
}

.choices {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute; /* Add position absolute */
  top: 50%; /* Center the choices vertically */
  left: 50%; /* Center the choices horizontally */
  transform: translate(-50%, -50%); /* Adjust the position so that it's truly centered */
}

.health-bar-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.health-bar {
  width: 200px;
  height: auto;
}

.health-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
}

