.battle-room-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/images/map/battle.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.character {
  position: absolute;
  margin-bottom: 200px;
}

.monster {
  width: 20vw;
  height: auto;
  left: 10%;
  bottom: 10%;
}

.player {
  width: 22vw;
  height: auto;
  right: 11%;
  bottom: 7%;
}

.health-bar-container {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  border: 2px solid black;
  width: 250px;
}

.health-bar-container.monster {
  margin-bottom: 300px;
  left: 14%;
}

.health-bar-container.player {
  margin-bottom: 280px;
  right: 13%;
}

.card-deck {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}

.battle-room-container .card {
  width: 140px;
  height: auto;
  margin: 0 5px;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.monster-attack {
  position: absolute;
  top: 35%;
  left: 21%;
  font-size: 50px;
  font-weight: bold;
  z-index: 10;
  transition: opacity 0.5s;
  color: red;
}


.character.player-attack {
  width: 22vw;
  height: auto;
  right: 11%;
  bottom: 7%;
}

.character.player-hit {
  width: 22vw;
  height: auto;
  right: 11%;
  bottom: 7%;
}


.character-shadow::before {
  content: "";
  position: absolute;
  z-index: -1; 
  width: 5vw;
  height: 2vh;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  left: -30%;
  bottom: -185%;
  transform: translateX(-50%);
}

.player-shadow {
  content: "";
  position: absolute;
  width: 6vw;
  height: 2vh;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 60%;
  right: 14%;
  bottom: 41%;
  transform: translateX(-50%);
}
