.battle-room-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-size: 100% 100%;
  background-color:darkslategray;
  background-repeat: no-repeat;
}

.character {
  position: absolute;
  margin-bottom: 200px;
}

.monster {
  width: 22vw;
  height: auto;
  left: 11%;
  bottom: 7%;
}

.player {
  width: 22vw;
  height: auto;
  right: 11%;
  bottom: 7%;
}

.health-bar-container {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  border: 2px solid black;
  width: 250px;
}

.health-bar-container.monster {
  margin-bottom: 280px;
  left: 15%;
}

.health-bar-container.player {
  margin-bottom: 280px;
  right: 15%;
}

.player-shield-container {
  display: flex; 
  position: absolute;
  justify-content: left;
  align-items: center;
  right: 15%;
  bottom: 32%;
  width: 250px;
}

.player-shield {
  width: 40px;
}

.card-deck {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}

.battle-room-container .card1 {
  width: 160px;
  height: auto;
  margin: 0 5px;
}

.card1 {
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

/* Card hover effect */
.card1:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Card pressed effect */
.card1:active {
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Card on cooldown */
.card1.cooldown {
  filter: grayscale(100%);
  opacity: 0.5;
  cursor: not-allowed;
}

.monster-attack {
  position: absolute;
  top: 35%;
  left: 21%;
  font-size: 50px;
  font-weight: bold;
  z-index: 10;
  transition: opacity 0.5s;
  color: red;
}


.character.player-attack {
  width: 22vw;
  height: auto;
  right: 11%;
  bottom: 7%;
}

.character.player-hit {
  width: 22vw;
  height: auto;
  right: 11%;
  bottom: 7%;
}


.victory-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  padding: 20px;
  background-color: rgba(187, 66, 66);
  border: 2px solid #bb4242;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.victory-panel h2 {
  font-size: 30px;
  color: white;
  font-weight: bold;
  /* margin-bottom: 20px; */
  text-align: center;
}

.victory-panel p {
  margin: 0 0 20px;
  font-size: 20px;
  color: white;
  margin-bottom: 25px;
}

.reward-cards .card {
  cursor: pointer;
}

