.battle-room-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/images/map/battle.png");
  background-size: cover;
  background-position: center;
  background-size: 100% 100%;
  background-color:darkslategray;
  background-repeat: no-repeat;
}

.character {
  position: absolute;
  margin-bottom: 200px;
}

.monster {
  width: 22vw;
  height: auto;
  left: 11%;
  bottom: 7%;
}

.player {
  width: 22vw;
  height: auto;
  right: 11%;
  bottom: 7%;
}

.health-bar-container {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  border: 2px solid black;
  width: 250px;
}

.health-bar-container.monster {
  margin-bottom: 280px;
  left: 15%;
}

.health-bar-container.player {
  margin-bottom: 280px;
  right: 15%;
}

.player-shield-container {
  display: flex; 
  position: absolute;
  justify-content: left;
  align-items: center;
  right: 15%;
  bottom: 32%;
  width: 250px;
}

.player-shield {
  width: 40px;
}

.card-deck {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}

.battle-room-container .card {
  width: 140px;
  height: auto;
  margin: 0 5px;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.monster-attack {
  position: absolute;
  top: 35%;
  left: 21%;
  font-size: 50px;
  font-weight: bold;
  z-index: 10;
  transition: opacity 0.5s;
  color: red;
}


.character.player-attack {
  width: 22vw;
  height: auto;
  right: 11%;
  bottom: 7%;
}

.character.player-hit {
  width: 22vw;
  height: auto;
  right: 11%;
  bottom: 7%;
}


.victory-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  text-align: center;
  z-index: 10;
}

.victory-panel h2 {
  margin: 0 0 10px;
  font-size: 24px;
}

.victory-panel p {
  margin: 0 0 20px;
}

.reward-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.reward-cards .card {
  cursor: pointer;
}

