.canvas-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-top: 50px; 
  padding-bottom: 50px; 
  background-image: url('../../assets/images/map/map.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.character {
  position: absolute;
  bottom: 0;
}

.monster {
  left: 10%;
}

.player {
  right: 10%;
}