.map-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 70px;
  background-position: center;
  background-image: url('../../assets/images/map/map.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.map-node {
  cursor: pointer;
  position: absolute;
}

.start-node {
  bottom: 100px;
  left: calc(50%);
}

.node-2 {
  bottom: 300px;
  left: calc(50%);
}

.node-3 {
  bottom: 500px;
  left: calc(50%);
}

.final-boss-node {
  bottom: 700px;
  left: calc(50% );
}

.map-node:not(.cleared) {
  opacity: 0.5;
  pointer-events: none;
}

.map-node.cleared::after {
  content: "X";
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
}





