.menu {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.new-game-button,
.options-button,
.quit-button {
  cursor: pointer;
  transform: scale(0.5);
  width: 400px;

}

.new-game-button:hover {
  transform: scale(0.55);
}

.new-game-button:active {
  transform: scale(0.45);
}

.options-button:hover {
  transform: scale(0.55);
}

.options-button:active {
  transform: scale(0.45);
}

.quit-button:hover {
  transform: scale(0.55);
}

.quit-button:active {
  transform: scale(0.45);
}

.logo {
  position: absolute;
  top: 5%; /* Adjust this value to move the logo up or down */
  left: 50%;
  transform: translateX(-50%);
  width: 400px; /* Adjust the width as needed */
}

.buttons-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
}