.menu {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.new-game-button,
.options-button,
.quit-button {
  cursor: pointer;
  transform: scale(0.5);
}

.new-game-button:hover {
  transform: scale(0.55);
}

.new-game-button:active {
  transform: scale(0.45);
}

.options-button:hover {
  transform: scale(0.55);
}

.options-button:active {
  transform: scale(0.45);
}